/* MOVEN Command Center Theme  */

body {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Access Screen */
.lock-screen {
  max-width: 400px;
  width: 90%;
  padding: 40px;
  border: 2px solid #e60000;
  border-radius: 12px;
  background: #111;
  box-shadow: 0 0 25px rgba(230, 0, 0, 0.6);
  transition: all 0.4s ease;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #e60000;
  letter-spacing: 1px;
}

p {
  color: #ccc;
  font-size: 0.95em;
}

input {
  padding: 12px;
  width: 80%;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  text-align: center;
  margin: 15px 0;
  outline: none;
}

button {
  background-color: #e60000;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: #ff1a1a;
  transform: scale(1.05);
}

/* Console View */
.console {
  display: none;
  width: 90%;
  max-width: 900px;
  text-align: left;
}

.data-box {
  background: #111;
  border-left: 4px solid #e60000;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
}